<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('模板关系列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>模板id：</label>
                                <input type="text" name="modelId"/>
                            </li>
                            <li>
                                <select  id="channelId" name="channelId" style="width: 100%; height: 31px;">
                                    <option value="">请选择通道</option>
                                    <option th:each="channel : ${channellist}"
                                            th:value="${channel.channelId}"
                                            th:text="${channel.channelId}+':'+${channel.channelName}">
                                    </option>
                                </select>
                            </li>
                            <li>
                                <!--<label>通道模板id：</label>-->
                                <input type="text" placeholder="通道模板id" name="channelModelId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="operator:related:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="operator:related:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="operator:related:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="operator:related:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('operator:related:edit')}]];
        var removeFlag = [[${@permission.hasPermi('operator:related:remove')}]];
        var prefix = ctx + "operator/related";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "模板关系",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'modelId',
                    title: '模板id'
                },
                {
                    field: 'channelId',
                    title: '通道',
                    formatter: function(value, row, index) {
		            	return row.channelName;
		            }
                },
                {
                    field: 'channelModelId',
                    title: '通道模板id'
                },
                {
                    field: 'limitCount',
                    title: '通道模板日限'
                },
                {
                    field: 'status',
                    title: '状态',
		        	formatter: function(value, row, index) {
		        	    var name = "<span class='badge badge-primary'>启用</span>";
		        	    if (row.status == 2) {
		        	        name = "<span class='badge badge-danger'>停用</span>";
		        	    }
		            	return name;
		            }
                },
                {
                    field: 'paramExt',
                    title: '变量参数映射'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>